.succes-page-payment-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.success-text h2{
    color:white!important;
}

.success-text h3{
    color: orange!important;
}